<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1 maximum-scale=1" name="viewport">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="js/c3-0.4.10/c3.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <title>Hi from Sinatra and Arduino</title>
  <%= include_gon %>
    <title>Document</title>
</head>
<div class="main-container">

  <body>
    <h1>Arduino Light Meter</h1>
    <!-- The switch is currently in the
    <%= text %>
      position
      <p>
        The light level at the moment is
        <%= lightLevel %>
      </p>
      <p>
        The temperature sensor reading is
        <%= temperature %>
      </p>
      <%= @bob %> -->
    <!--
        <div id="blob">

        </div> -->

    <div>
      <h1>Current Light intensity</h1>
      <div id="chart"></div>
    </div>
    <div>
      <h1>Current temperature</h1>
      <div id="temp-chart"></div>
    </div>
  </body>
</div>

<script src="js/underscore/underscore-min.js"></script>
<script src="js/main.js"></script>
<script src="js/faye/faye.js"></script>
<script src="js/socket.js"></script>
<script src="js/application.js"></script>
<script src="js/readingOnPage.js"></script>
<script src="js/d3Stuff/d3.min.js"></script>
<script src="js/c3-0.4.10/c3.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/tempChart.js"></script>

</html>
